.container
  %h1 Welcome to the Start Page
  .row
    .col-md-4
      %p News
    .col-md-4.text-right
      .row
        - if user_signed_in? && current_user.image?
          = image_tag current_user.image.thumb.url, class: "img_index", height: "50px", weight: "50px"
          = current_user.username
          %p= current_user.profile.name
    .col-md-4.text-right
