%h1 Welcome to the Start Page
- if user_signed_in?
  .row
    .col-md-8.news-feed
      - @user.each do |user|
        =link_to user.login, profile_show_path(id: user.profile.id, user_id: user.id)
        %br/
      %p News

      = link_to 'USERS' , users_index_path
    - if user_signed_in? && current_user.image?
      .col-md-1.mini-profile-avatar
        - if user_signed_in? && current_user.image?
          = image_tag current_user.image.thumb.url, class: "img_index", height: "50px", weight: "50px"
    .col-md-2.mini-profile-text
      - if user_signed_in?
        = current_user.username
        %p= current_user.profile.name
