<div class="container profile_show">
  <div class="row">
    <div class="col-md-4  text-center">
        <p><%= link_to(image_tag(current_user.image.thumb.url, alt: 'Image'), current_user.image.url, target: '_blank') if current_user.image? %></p>

    </div>
    <div class="col-md-8">
      <p><%= current_user.username %> | <%= link_to 'Редактировать профиль', edit_user_registration_path %></p>
      <p> Друзей | Еще чего то там</p>
      <p><%= current_user.profile.name %></p>
    </div>
    <div class="col-md-8">
    </div>

    </div>

    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div>

  </div>
